.header {
  display: flex;
  align-items: center;
  width: 99.9%;
  justify-content: space-around;

  height: 70px;
  /* border: 1px solid blue; */
  background-color: #151218;
}

.logo-container {
  height: 40%;
  width: 8%;

  /* border: 1px solid red; */
}

.logo {
  height: 100%;
  width: 100%;
  background-size: contain;
}

.header-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkviolet;
  transition-duration: 1s;
  background-color: transparent;
  border-style: none;
  /* font-size: 1.2vw; */
  font-size: 15.5px;
  cursor: pointer;
  transition-duration: 1s;
}

.header-login-btn:hover {
  color: white;
  transition-duration: 1s;
}

.header-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.open-close-btn-container {
  display: none;
}

@media screen and (max-width: 1000px) {
  .header-btn-container {
    display: none;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-container {
    padding: 3vw;
  }

  .open-close-btn-container {
    /* border: 1px solid red; */
    padding: 3vw;
    display: block;
  }
}
