.main {
  display: flex;

  align-items: center;
  justify-content: center;
  height: 820px;
  width: 100%;
  background-image: url("../../public/website-image3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1px solid blue; */
}

.sub-container1 {
  height: 70%;
  width: 100%;
  color: white;
  border: 1px solid red;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 8%;
  flex-wrap: wrap;
}

.child-sub-container1 {
  /* border: 1px solid yellow; */
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}

.child-sub-container2 {
  /* border: 1px solid red; */
  width: 40%;
  height: 80%;
  background-image: url("../../public/website-image1.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.heading-text {
  font-size: 55px;
  font-weight: 600;
  line-height: 80px;
  text-align: start;
  /* border: 1px solid blue; */
  width: 100%;
}

.span-text {
  background-clip: text;
  background: linear-gradient(157deg, salmon, #9f6eed);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.sub-heading-text {
  /* border: 1px solid red; */
  font-size: medium;
  font-weight: 600;
  width: 100%;
  line-height: 30px;
}

.main-btn-container {
  /* border: 1px solid blue; */
  display: flex;
  gap: 20px;
  height: 18%;
}

.main-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-btn {
  cursor: pointer;

  padding: 12px;
  background-clip: text;
  background: linear-gradient(157deg, salmon, #9f6eed);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.main-btn-custom-border {
  border: 2px solid transparent;

  border-image: linear-gradient(157deg, salmon, #9f6eed);
  border-image-slice: 1;
}
